/* =========================
   Zerando a definição básica de tudo
   ========================= */

* { /* Definição importante */
    margin: 0; /* Tirando margens */
    padding: 0; /* Espaço 0 */
    text-align: center; /* Alinhando o texto ao centro*/
}
html, body { /* Definição importante */
    margin: 0; /* Tirando margens */
    padding: 0; /* Espaço 0 */
    background-color: #f7f4ed; /* Definindo a cor de fundo */
}

/* =========================
   Suporte para Mobile
   ========================= */

@media (max-width: 600px) {
    .container, .content, section { /* Área do cabeçalho, conteúdo e texto  */
        width: 100% !important; /* Força o conteúdo ocupar a tela toda */
        max-width: 100vw !important; /* Impede o conteúdo de ir além da tela */
        padding: 8px !important; /* Afasta os elementos das bordas */
        box-sizing: border-box; /* Impede o texto de ir além da tela */
    }
    .cabecalho, .topo, .botoes, .pesquisa { /* Toda a área superior do site */
        flex-direction: column !important; /* Coloca a área de pesquisa abaixo do nome */
        align-items: center !important; /* Alinha a barra de pesquisa ao centro */
        gap: 8px !important; /* Distância entre nome e área de pesquisa */
    }
    .coluna-lado { /* Coluna Lateral */
        width: 50vw !important; /* Tamanho da barra */
        transition: transform 0.3s ease !important; /* Transição suave ao abrir e fechar */
        min-height: 100vh !important; /* Garante que é da altura da tela */
        overflow-y: auto; /* Permite "scrollar" caso a tela seja menor */
        overflow-x: hidden; /* Impede a barra de rodar lateralmente */
    }
    nav ul li { /* Edição das opções */
        padding: 10px 8px !important; /* Espaço entre itens */
        font-size: 1em !important; /* Tamanho do texto */
    }
    .btn-login, .btn-register, .btn-search { /* Configurando os botões */
        font-size: 12pt !important; /* Tamanho do texto */
        padding: 10px !important; /* Altura do botão */
        width: auto; /* Largura do botão dentro da div */
    }
    .botoes { /* Login e Registro */
        flex-direction: row !important; /* De coluna para linha */
        gap: 4px !important; /* Distância entre os botões */
        padding: 8px !important; /* Alinhando ao topo */
    }
    .burgao {
        position: absolute !important; /* On mobile, default is absolute */
    }
    .burgao.fixed {
        position: fixed !important;    /* On mobile, when menu is open, becomes fixed */
    }
    #resumo, section, section h2 { /* Texto */
        font-size: 1em !important; /* Tamanho da fonte */
        max-width: 100vw !important; /* Largura máxima do texto*/
        text-align: left !important; /* Alinhando o texto na esquerda */
    }
    #p { /* Texto */
        font-size: 1em !important; /* Tamanho da fonte */
        max-width: 100vw !important; /* Largura máxima do texto*/
        text-align: justify !important; /* Alinhando o texto na esquerda */
    }
    section h2{ /* Título */
        font-size: 30px !important; /* Tamanho */
    }
    section h4, span { /* Autores */
        font-size: 14px !important; /* Tamanho do texto */
    }
    section h6 { /* Palavras chaves */
        font-size: 15px !important; /* Tamanho do texto */
        text-align: left !important; /* Centralizando o texto */
        margin-top: 2% !important;
        color: #000000 !important;
    }
    #msgError {
        flex-direction: column !important;
        overflow-x: auto !important;
        gap: 0px !important;
    }
    .oferta { /* Configuração geral dos cards de oferta */
        width: 80% !important; /* Largura dos cards */
        margin: auto !important;
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
    .revistas {
        gap: 30px !important;
        max-width: 100% !important;
    }
    .revistas p {
        width: 50% !important;
        text-align: justify !important;
        margin-bottom: 20px !important;
    }
    .revistas_nomes_1 {
        gap: 0 !important;
    }
    .revistas_nomes_2 {
        gap: 20px !important;
    }
    .horoscopo {
        text-align: center !important;
        font-size: 20px !important;
        margin: 15px 0 !important;
    }
    .titulorevistas {
        max-width: 200px !important;
    }
    img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    iframe {
        width: 80% !important;
    }
    #Imagem_Reportagem_Noticia {
    width: 100% !important;
    }
    .signo {
        width: 10% !important;
    }
    .separacao {
        text-align: justify !important
    }
}

/* =========================
   Básico
   ========================= */

body { /* Detalhes gerais */
    background-color: #f7f4ed; /* Cor de fundo */ /*ffffff branco. f7f4ed lace. e8d9ed Petal */
    font-family: Georgia, sans-serif; /* Fonte padrão do site */
    margin: 0; /* Tirando as margens*/
    padding: 0; /* Espaço 0 */
    margin-bottom: 15%;
}
.container {
    background-color: #cee0f7 !important;
    justify-content: center; /* Centralizando a área de texto */
    width: 100%; /* Largura da área de texto */
    padding: 0px; /* Espaçamento interno da área de texto */
    color: #000000; /* Cor do texto */
    font-size: 20px;
}
.content {
    background-color: #f7f4ed; /*ffffff branco. f7f4ed lace. e8d9ed Petal */
    min-height: 100vh; /* Cobrindo a tela inteira */
}

/* =========================
   Cabeçalho
   ========================= */

header { /* Nome do site */
    background-color: #cee0f7;
    text-align: center;
    color: #000000;
}
.topo { /* Área acima do nome */
    background-color: #cee0f7;
    display: flex; /* Fazendo com que fique em linha */
    justify-content: space-between; /* Espaçamento entre os itens */
    align-items: center; /* Centralizando os itens verticalmente */
    position: relative; /* Posicionando o topo */

}
.cabecalho {
    display: flex; /* Cor de fundo do cabeçalho */
    align-items: center; /* Cor do texto do cabeçalho */
    justify-content: space-between; /* Espaçamento interno do cabeçalho */
    text-align: center; /* Centralizando o texto */
    position: relative; /* Posicionando o cabeçalho */
    padding: 0 24px; /* Espaçamento interno do cabeçalho */
}
.cabecalho-vazio { /* Cabeçalho vazio */
    min-width: 220px; /* Ajuda a centralizar o nome */
}
.titulo_alinhado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
}
#nome_site {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}
.logo {
    position: static;
    width: 10%;
    object-fit: contain;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

/* =========================
   Ativador do Menu
   ========================= */

.burgao { /* Configurações gerais das três linhas */
    position: fixed; /* Deixa permanente */
    top: 20px; /* Distância do topo */
    left: 20px; /* Distância da borda esquerda */
    height: 22px; /* Distância entre as linhas */
    z-index: 1200; /* Sobreposição sobre outros elementos */
    width: 30px; /* Comprimento da linha */
    display: flex; /* Garante o espaçamento entre as linhas */
    flex-direction: column; /* Deixa em colunas e não linhas */
    justify-content: space-between; /* Espaço entre as linhas */
    cursor: pointer; /* Muda o tipo do cursor quando passar em cima */
}
.burgao span { /* As três linhas */
    display: block;
    height: 4px; /* Largura das linhas */
    width: 100%; /* Comprimento das linhas */
    background: #000000; /* Cor */
    border-radius: 2px; /* Curvatura das bordas */
}

/* =========================
   Botões
   ========================= */

.botoes { /* Definições gerais */
    background-color: #cee0f7 !important; /* Cor do fundo da div dos botões */
    display: flex; /* Faz com que os botões fiquem alinhados */
    align-items: center;
    gap: 10px; /* Espaço entre os botões */
    padding-top: 16px; /* Distância do topo */
    padding-right: 20px; /* Distância da borda direita */
    margin-left: auto; /* Coloca os botões do lado direito */
}
#btnlogin { /* Botão de Login */
    z-index: 1100; /* Sobrepondo a censura */
    background-color: #cee0f7; /* Cor de fundo do botão */
    border-color: #08264d; /* Cor da borda do botão */
    color: #000000; /* Cor do texto do botão */
    padding: 7px; /* Tamanho do botão */
    font-weight: bold; /* Deixando o texto em negrito */
    font-size: 8pt; /* Tamanho do texto */
    margin-top: 0.3%; /* Espaçamento entre o botão e a barra de escrever */
    border-radius: 8px; /* Arredondando o botão */
    cursor: pointer; /* Fazendo com que o mouse mude quando passa em cima do botão */
    outline: none; /* Retirando o contorno do botão */
    transition: all .5 ease-out; /* Fazendo com que fique mais claro quando clica */
}
#btnregister{ /* Botão de registro */
    z-index: 1100;
    background-color: #cee0f7;
    border-color: #08264d;
    color: #000000;
    padding: 7px;
    font-weight: bold;
    font-size: 8pt;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: all .5 ease-out;
}
.btn-search{ /* Botão de pesquisa */
    background-color: #cee0f7;
    border-color: #08264d;
    color: #000000;
    padding: 7px;
    font-weight: bold;
    font-size: 8pt;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: all .5 ease-out;
    
}
button:hover { /* Quando o cursor passa por cima*/
    background-color: #08264d; /* Cor de fundo do botão ao clicar */
    color: #ffffff; /* Cor do texto do botão ao clicar */
}

/* =========================
   Área de pesquisa
   ========================= */

.pesquisa {
    display: flex; /* Alinha a área e o botão */
    gap: 20px; /* Espaçamento entre de barra de pesquisa e botão */;
    min-width: 260px; /* Largura mínima da barra de pesquisa */
    max-width: 260px; /* Largura máxima da barra de pesquisa */
}
.pesquisa input {
    width: 100%; /* Largura da barra de pesquisa */
    padding: 3px; /* Altura da barra de pesquisa */
    border-color: #cee0f7; /* Retirando a borda da barra de pesquisa */
    border-radius: 8px; /* Arredondando a barra de pesquisa */
    background-color: #cee0f7; /* Cor de fundo da barra de pesquisa */
    color: #000000; /* Cor do texto da barra de pesquisa */
    font-size: 10pt; /* Tamanho do texto da barra de pesquisa */
}
.pesquisa input:focus {
    outline: none; /* Retirando o contorno da barra de pesquisa */
    box-shadow: 0 0 5px #cee0f7; /* Colocando uma sombra na barra de pesquisa */
}
.espaco-pesquisa{
    justify-content: center; /* Centralizando a área de texto */
}

/* =========================
   Barra Lateral
   ========================= */

.coluna-lado { /* Menu lateral */
    position: fixed; /* Posicionando a coluna lateral */
    z-index: 1100; /* Coloca o menu lateral acima de tudo */
    background-color: #cee0f7; /* Cor do menu */
    width: 20vw; /* Largura da barra lateral */
    height: 100vh; /* Altura da coluna lateral */
    min-height: 100vh; /* Altura mínima da coluna lateral */
    transition: transform 0.5s ease; /* Transição suave ao abrir e fechar */
    transform: translateX(-100%); /* Escondendo a coluna lateral */
}
.coluna-lado.active { /* Quando menu lateral é ativado */
    transform: translateX(0); /* Coloca a barra lateral tela */
}
.coluna-lado, nav ul, nav ul li { /* Cor dos botões */
    background-color: #cee0f7;
}
nav ul { /* Opções de menu */
    list-style: none; /* Remove a bolinha de lista */
    gap: 0px; /* Espaço entre os botões */
    padding: 0; /* Tira o formato quadricular */
}
nav ul li { /* Cada opção */
    padding: 10px 20px; /* Tamanho de cada opção */
    cursor: pointer; /* Fazendo com que o mouse mude quando passa em cima do botão */
    text-align: center; /* Centralizando o texto */
    position: relative; /* Necessário para o hover funcionar corretamente */
    z-index: 1; /* Baixa sobreposição */
    transition: /* Interações de volta */
        background-color 1.0s ease, /* Velocidade que a cor muda */
        transform 0.6s ease; /* Velocidade que o fundo diminui */
}
nav ul li:hover { /* Interação quando o mouse passa por cima */
    background-color: #08264d !important; /* Cor de fundo do botão ao passar o mouse */
    color: #ffffff; /* Cor do texto */
    transition: background-color 1.0s ease; /* Velocidade que a cor de fundo muda */
    transform: scale(1.15); /* Quanto aumenta */
    z-index: 2; /* Se sobrepõe aos outros botões */
}
#espaco-vazio { /* Espaço para o burgao não conflitar com um botão */
    height: 50px; /* Altura do bloco */
    background: none; /* Sem fundo */
    border: none; /* Tira as bordas */
    pointer-events: none; /* Tira as interações do bloco */
    margin: 0; /* Tirando margens */
    padding: 0; /* Tirando o espaçamento interno */
}
.censura { /* Fundo quando a barra lateral é aberta */
    min-width: 100%; /* Largura mínima do fundo */
    min-height: 100%; /* Altura mínima do fundo */
    z-index: 1000; /* Colocando em cima de tudo */
    background-color: #ffffffb4; /* Cor do fundo */
    position: fixed; /* Deixa o filtro fixo */
    cursor: default; /* Fazendo com que o mouse mude quando passa em cima do fundo */
}

/* =========================
   Mensagem de Erro
   ========================= */

#msgError {
    display: flex; /* Alinhando o texto ao centro */
    flex-direction: row; /* Deixa lado a lado */
    justify-content: center; /* Centraliza */
    gap: 100px; /* Cria espaço entre os cards */
}
.hidden {
    display: none !important; /* Esconde a mensagem de erro */
}
.oferta { /* Configuração geral dos cards de oferta */
    width: 20%; /* Largura dos cards */
    padding: 25px 0% 0% 20px; /* Altura do card */
    justify-content: center; /* Centralizando a área de Cadastro */
    margin-top: 100px; /* Espaçamento entre o cabeçalho e os cards */
    background-color: #e9f3ff; /* Cor de fundo */
    border-radius: 5% 0% 7.5% 7.5%; /* Arredondando as bordas */
    box-shadow: 4px 3px 1px 0px #00000075; /* Sombras do fundo */
}
.plano {
    text-align: start; /* Alinhando ao canto */
    font-size: 12px;
    margin: 0 10% 0 5%; /* Distância das bordas */
}
.valor {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.recomendacao {
    font-size: medium;
    justify-content: center;
    color: #000000ad;
}
.beneficios {
    display: flex;
    flex-direction: column;
    color: #000000ad;
    text-align: left;
}
.separado {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0 0 0 4%;
    padding-bottom: 15px;
}

/* =========================
   Conteúdo
   ========================= */

section { /* Seção */
    text-align: justify;
    margin: 0 auto; /* Centralizando o texto */
    max-width: 700px; /* Largura máxima do texto */
}
section h2 { /* Título */
    color: #000000;
    font-size: 30px;
    text-align: left; /* Alinhando o texto na esquerda */
    margin: 5px auto; /* Ajustando as margens */
    max-width: 700px; /* Largura máxima do texto */
    margin-top: 25px; /* Espaçamento entre o título e o cabeçalho */
}
section h3 { /* Resumo */
    font-size: 13pt; /* Tamanho do texto */
    font-weight: normal; /* Tirando o negrito */
    text-align: justify; /* Centralizando o texto */
    color: #000000; /* Cor do texto */
    margin: 0 auto; /* Centralizando o texto */
}
section h4 { /* Autores */
    font-size: 13px; /* Tamanho do texto */
    text-align: left; /* Centralizando o texto */
    margin-top: 1%;
    color: #000000;
}
section h5 { /* Subtítulo */
    font-size: 20px; /* Tamanho do texto */
    text-align: center; /* Centralizando o texto */
    margin-top: 2%;
    color: #000000;
    padding-bottom: 10px;
}
section h6 { /* Palavras chaves */
    font-size: 15px; /* Tamanho do texto */
    text-align: left; /* Centralizando o texto */
    margin-top: 2%;
    color: #000000;
}
section span { /* Nome dos autores */
    font-size: 13px; /* Tamanho do texto */
    color: #0b1957;
}
section p { /* Texto */
    text-align: justify; /* Centralizando o texto */
    color: #000000 !important; /* Cor do texto */
    font-size: 16px; /* Tamanho do texto */
    margin: 20 auto; /* Centralizando o texto */
    max-width: 700px; /* Largura máxima do texto */
    line-height: 1.5; /* Espaçamento entre as linhas */
}
section footer { /* Bibliografia */
    text-align: justify; /* Centralizando o texto */
    color: #000000 !important; /* Cor do texto */
    font-size: 12pt; /* Tamanho do texto */
    margin: 20 auto; /* Centralizando o texto */
    max-width: 700px; /* Largura máxima do texto */
    line-height: 1.5; /* Espaçamento entre as linhas */
}
address {
    text-align: left;
    font-style: normal;
    font-weight: bold;
}
.colaboradores { /* Colaboradores */
    font-size: 12px; /* Tamanho do texto */
    text-align: left; /* Centralizando o texto */
    margin-top: 1%;
    color: #000000;
}
.nomes-colaborador {
    font-size: 12px;
}
.revistas {
    display: flex;
    flex-direction: row;
    gap: 70px;
    max-width: 90%;
    box-sizing: border-box;
}
.revistas p {
    width: 50%;
}
.revistas_nomes_1 {
    display: flex;
    flex-direction: row;
    gap: 127px;
}
.revistas_nomes_2 {
    display: flex;
    flex-direction: row;
    gap: 164px;
}
.anuncio {
    text-align: center;
    font-weight: bold;
    color: #08264d !important;
}
.horoscopo {
    margin: 0;
    font-size: 20px;
    text-align: center;
}
.horoscopotexto {
    text-align: justify !important;
}
.signo {
    width: 5%;
    object-fit: contain;
    padding-bottom: 30px;
}
.signo_alinhado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
}
.separacao {
    font-size: 15px;
    text-align: justify;
    margin-top: 2%;
    color: #000000;
    padding-bottom: 10px;
}

.traducao {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.linha {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-start;
}

.linha .coluna {
    flex: 1 1 0;
    text-align: left;
}

.linha h5 {
    text-align: justify;
    margin-bottom: 4px;
    font-size: 16px;
}

.acesso { /* Acesso da bibliografia */
    text-align: justify; /* Centralizando o texto */
    color: #000000 !important; /* Cor do texto */
    font-size: 12pt; /* Tamanho do texto */
    margin: 20 auto; /* Centralizando o texto */
    max-width: 700px; /* Largura máxima do texto */
    line-height: 1.5; /* Espaçamento entre as linhas */
}
#Aline {
    text-align: right; /* Alinhando com a direita */
    color: #000000; /* Cor do texto */
    font-size: small; /* Diminuido o tamanho */
}
audio { /* Audios */
    display: flex; /* Fazendo com que fique em linha */
    margin: auto; /* Centralizando a caixa */
}
iframe { /* Vídeos */
    padding: 20px;
    display: flex; /* Fazendo com que fique em linha */
    margin: auto; /* Centralizando a caixa */
}
video { /* Vídeos */
    padding: 20px;
    display: flex; /* Fazendo com que fique em linha */
    margin: auto; /* Centralizando a caixa */
}
img {
    display: block;
    width: 50%;
    height: 50%;
    margin: 30px 0 0 15px;
}
.breakline {
    background-color: #00000030;
    border-radius: 20%;
    margin-top: 30px;
    padding: 1px;
}
.alinhado {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#qrcode {
    display: block;
    width: 60%;
    height: 60%;
    padding-top: 30px;
    margin: auto;
}
#Imagem_Reportagem_Noticia {
    display: block;
    width: 50%;
    height: 50%;
    padding: 30px 0 40px 0;
    margin: auto;
}
.Reportagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.Reportagem > h3 {
    width: 50%;
    box-sizing: border-box;
}
.Perguntas > h5 {
    width: 50%;
    box-sizing: border-box;
}
#Reportagem_Elizabete_Tenreiro {
    display: block;
    text-align: left;
    width: 50%;
    margin: 30px 0 0 0 !important;
}
#Reportagem_Thiago_dos_Santos {
    display: block;
    width: 48.7%;
    margin-right: 50px;
    margin: 30px 0 0 0 !important;
}
#Reportagem_Heley_Abreu {
    display: block;
    width: 30%;
    padding-top: 30px;
    margin: auto;
}
#Ivah_Silveira {
    display: block;
    width: 40%;
    padding-top: 30px;
    margin: auto;
}
.legenda {
    color: #00000080;
    font-size: 15px;
    text-align: center;
}
.titulo {
    font-size: 20px;
}
.foto_centralizada {
    display: block;
    width: 45%;
    height: 45%;
    padding-top: 30px;
    margin: auto;
}
.foto_descentralizada {
    display: block;
    width: 45%;
    height: 300px;
    padding-top: 30px;
    margin: auto;
}
.simbolo_letras {
    display: block;
    width: 40%;
    height: 40%;
    padding-top: 30px;
    margin: auto;
}
.foto_autores {
    display: block;
    width: 45%;
    height: 45%;
    padding-top: 30px;
    margin: auto;
}
.subtitulo2 {
    text-align: left;
}
.centro {
    padding: 20px;
    margin: auto;
}
.subtitulo3 {
    text-align: center;
}
#evanildo {
    width: 100%;
    justify-content: center;
    margin: auto;
    padding: 30px 0;
}
#charge {
    justify-content: center;
    margin: auto;
    padding: 20px 0;
}
.link_livro {
    justify-content: center;
    padding-top: 10px;
    display: flex;
}
.aviso {
    color: #ad0000 !important;
    text-align: center;
    font-weight: bold;
    font-size: 13pt;
    margin: 20px;
}