/* Importando a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Formatando */
* { 
    margin: 0; /* Retirando a margem */
    padding: 0; /* Retirando o espaçamento */
    font-family: 'Roboto', sans-serif; /* Definindo a fonte */
}
/* Wallpaper */
body {
    background-color: #08264d;
}
/* Tratando o Entrar */
.container {
    display: flex; /* Fazendo com que fique em linha */
    justify-content: center; /* Centralizando a área de Login */
    width: 100%; /* Largura da área de Login */
    margin-top: 100px; /* Espaçamento entre o topo e a área de Login */
}
/* Fundo da área de Login */
.card {
    background-color: #e9f3ff; /* Cor de fundo da área de Login */
    padding: 30px; /* Espaçamento entre o fundo e a barra de escrever */
    border-radius: 4%; /* Arredondando o fundo */
    box-shadow: 3px 3px 1px 0px #ffffff60 /* Sombras do fundo */
}
/* Head do site */
h1 {
    text-align: center; /* Centralizando o título */
    margin-bottom: 20px; /* Espaçamento entre o título e a barra de escrever */
    color: #0b1957; /* Cor do texto */
}
/* Área de digitar Usuário e Senha */
.label-float input {
    width: 100%; /* Largura da barra de escrever */
    padding: 5px 5px; /* Tamanho da linha de escrever */
    display: inline-block; /* Faz com que fique em linha */
    border: 0; /* Retirando a borda */
    border-bottom: 2px solid #426bc2; /* Cor da linha de escrever */
    background-color: transparent; /* Cor de fundo da linha de escrever */
    outline: none; /* Retirando o contorno */
    min-width: 180px; /* Largura mínima da linha de escrever */
    font-size: 16px; /* Tamanho da fonte */
    transition: all .3s ease-out; /* Faz com que suba */
    border-radius: 0; /* Retirando o arredondado */
}
/* Texto de Usuário e Senha */
.label-float {
    position: relative; /* Fazendo com que fique em linha */
    padding-top: 13px; /* Espaçamento entre o texto e a barra de escrever */
    margin-top: 5%; /* Espaçamento entre o título e a barra de escrever */
    margin-bottom: 5%; /* Espaçamento entre a barra de escrever e o botão */
}
/* */
.label-float input:focus{
    border-bottom: 2px solid #0b1957; /* Cor da linha de escrever ao clicar */
}
/* Como Usário e Senha irão se comportar */
.label-float label {
    color: #0b1957; /* Cor do texto */
    pointer-events: none; /* Faz com que não clique no texto */
    position: absolute; /* Fazendo com que fique em linha */
    top: 0; /* Espaçamento entre o texto e a barra de escrever */
    left: 0; /* Espaçamento entre o texto e a barra de escrever */
    margin-top: 13px; /* Espaçamento entre o texto e a barra de escrever */
    transition: all .3s ease-out; /* Faz com que suba */
}
/* Especificações do Usuário e Senha ao clicar */
.label-float input:focus + label,
.label-float input:valid + label {
    font-size: 13px; /* Tamanho do texto */
    margin-top: 0; /* Espaçamento entre o texto e a barra de escrever */
    color: solid #0b1957; /* Cor do texto */
}
/* Configurando o botão */
button {
    background-color: transparent; /* Cor de fundo do botão */
    border-color: #0b1957; /* Cor da borda do botão */
    color: #0b1957; /* Cor do texto do botão */
    padding: 7px; /* Tamanho do botão */
    font-weight: bold; /* Deixando o texto em negrito */
    font-size: 12pt; /* Tamanho do texto */
    margin-top: 20px; /* Espaçamento entre o botão e a barra de escrever */
    border-radius: 10px; /* Arredondando o botão */
    cursor: pointer; /* Fazendo com que o mouse mude quando passa em cima do botão */
    outline: none; /* Retirando o contorno do botão */
    transition: all .5 ease-out; /* Fazendo com que fique mais claro quando clica */
}
/* Configurando quando clica no botão */
button:hover {
    background-color: #0b1957; /* Cor de fundo do botão ao clicar */
    color: #ffffff; /* Cor do texto do botão ao clicar */
}
/* Centralizando o botão*/
.justify-center {
    display: flex; /* Fazendo com que fique em linha */
    justify-content: center; /* Centralizando o botão */
}
/* Linha que separa Usuário e Senha de Cadastre-se */
hr {
    margin-top: 10%; /* Espaçamento entre o botão e a linha */
    margin-bottom: 10%; /* Espaçamento entre a linha e o texto de Cadastre-se */
    width: 60%; /* Largura da linha */
}
/* Configurando texto de Criar Cadastro */
p {
    color: #0b1957; /* Cor do texto */
    font-size: 14pt; /* Tamanho do texto */
    text-align: center; /* Centralizando o texto */
}
/* Link para ir em Cadaste-se */
a {
    color: #0b1957; /* Cor do texto */
    font-weight: bold; /* Deixando o texto em negrito */
    text-decoration: none; /* Retirando o sublinhado */
    transition: all .3s ease-out; /* Fazendo com que fique mais claro quando clica */
}
/* Configurando quando clica em Cadastre-se */
a:hover {
    color: #0b1957; /* Cor do texto ao clicar */
}
/* Olhar ou esconder senha */
.fa-eye {
    position: absolute; /* Fazendo com que fique em linha */
    top: 20px; /* Espaçamento entre o olho e a barra de escrever */
    right: 10px; /* Espaçamento entre o olho e a barra de escrever */
    cursor: pointer; /* Fazendo com que o mouse mude quando passa em cima do olho */
    color: #0b1957; /* Cor do olho */
}
/* Mensagem de erro */
#msgError{
    text-align: center; /* Centralizando o texto */
    color: #ff0000; /* Cor do texto */
}